        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: linear-gradient(145deg, #5c5c5c, #292929);
            width: 100%;
            height: 100vh;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 400px;
            height: 450px;

            display: flex;
            align-items: center;
            flex-direction: column;

            position: relative;
        }

        .bulbo {
            width: 300px;
            height: 300px;
            background: #fffb00;
            border-radius: 45%;

            display: flex;
            align-items: end;
            justify-content: center;
        }

        .base {
            width: 150px;
            height: 100px;
            background: #2c2c2c;
            border-radius: 0 0 25% 25%;

            position: absolute;
            top: 63%;

            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .btn {
            position: absolute;
            top: 89%;
        }

        button {
            background: #2c2c2c;
            color: #FFF;
            border-style: none;
            border-radius: 0.5rem;
            cursor: pointer;

            width: 120px;
            height: 50px;
        }

        button:hover {
            background: #5c5c5c;
        }