* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 330px;
    height: 340px;
    top: 50%;
    left: 50%;
    background: #80529e;
    border-radius: 2rem;
    text-align: center;
}

div {
    margin: 1rem;
}

label {
    color: #FFF;
    text-transform: uppercase;
}

input {
    width: 80%;
    border-style: none;
    border-radius: 1rem;
    padding: 1rem;
    outline: 0;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

button{
    width: 80%;
    border-style: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    background: #333333;
    color: #FFF;
}